---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About Me",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none">

		<p> In April 2025 I launched <a href="https://monkeys.zip"><b>monkeys.zip</b></a>, which is my most popular project <i>(yet)</i>.	(<a href="https://monkeys.zip"><b>glory.zip</b> coming very soon</a>)	</p>

		<p>
			<i>Before that,</i> I worked at Google for 8 wonderful years - where I learned a lot about how
			to make software using Google tooling and infrastructure.</p>
			
		<p><i>Before that,</i> I worked at BlackRock for 6 months - where I learned that employers don't like 
			when you leave after 6 months. 
		</p>
    <p>
      Throughout that time, I worked on many side projects, the vast majority have never 
      seen the light of day because I was afraid of putting myself out there, and I'm trying to make up for that now.
	</p>
	  <hr>

	  <p>
		You can contact me at lukeaustinschaefer@gmail.com.<br>
		I'm shamefully on <a href="https://www.linkedin.com/in/luke-schaefer-77320b26b/">linkedin</a>, and <a href="https://x.com/LukeSchaef">X</a>.
		
	  </p>

	</div>
</PageLayout>
